
<h2>Shopping List</h2>
<table>
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %></td>
        <td><%= food.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
